@charset "utf-8";

@font-face {
    font-family: 'Geometria-Bold';
    src: url('../fonts/Geometria-Bold.eot');
    src: url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Geometria-Bold.woff2') format('woff2'),
         url('../fonts/Geometria-Bold.woff') format('woff'),
         url('../fonts/Geometria-Bold.ttf') format('truetype'),
         url('../fonts/Geometria-Bold.svg#Geometria-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria-Medium';
    src: url('../fonts/Geometria-Medium.eot');
    src: url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Geometria-Medium.woff2') format('woff2'),
         url('../fonts/Geometria-Medium.woff') format('woff'),
         url('../fonts/Geometria-Medium.ttf') format('truetype'),
         url('../fonts/Geometria-Medium.svg#Geometria-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria-Regular';
    src: url('../fonts/Geometria-Regular.eot');
    src: url('../fonts/Geometria-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Geometria-Regular.woff2') format('woff2'),
         url('../fonts/Geometria-Regular.woff') format('woff'),
         url('../fonts/Geometria-Regular.ttf') format('truetype'),
         url('../fonts/Geometria-Regular.svg#Geometria-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Formular-Bold';
    src: url('../fonts/Formular-Bold.eot');
    src: url('../fonts/Formular-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Formular-Bold.woff2') format('woff2'),
        url('../fonts/Formular-Bold.woff') format('woff'),
        url('../fonts/Formular-Bold.ttf') format('truetype'),
        url('../fonts/Formular-Bold.svg#Formular-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Formular-Medium';
    src: url('../fonts/Formular-Medium.eot');
    src: url('../fonts/Formular-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Formular-Medium.woff2') format('woff2'),
        url('../fonts/Formular-Medium.woff') format('woff'),
        url('../fonts/Formular-Medium.ttf') format('truetype'),
        url('../fonts/Formular-Medium.svg#Formular-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Formular-Regular';
    src: url('../fonts/Formular-Regular.eot');
    src: url('../fonts/Formular-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Formular-Regular.woff2') format('woff2'),
        url('../fonts/Formular-Regular.woff') format('woff'),
        url('../fonts/Formular-Regular.ttf') format('truetype'),
        url('../fonts/Formular-Regular.svg#Formular-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?l30eqh');
  src:  url('../fonts/icomoon.eot?l30eqh#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?l30eqh') format('truetype'),
    url('../fonts/icomoon.woff?l30eqh') format('woff'),
    url('../fonts/icomoon.svg?l30eqh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


html,
body {
	position: relative;
}
body {
	min-width: 1200px;
	font-family: 'Geometria-Regular';
	font-size: 16px;
	line-height: 24px;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #000;
}
a{
	text-decoration: none;
	color: #000;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
.fancybox-inner{
	overflow: visible !important;
}
.bold, b{
	font-family: 'Geometria-Bold';
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 1278px;
	margin: 0px auto;
}

input::-webkit-input-placeholder {
	color: #777;
}
input:-moz-placeholder {
	color: #777;
}
[class^="icon-"]:before, 
[class*=" icon-"]:before  {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.b-btn{

}

h2{
	font-size: 45px;
	line-height: 55px;
	font-family: 'Formular-Bold';
	text-align: center;
	margin-bottom: 70px;
}
h3{
	font-family: 'Formular-Bold';
}

.b-gray{
	background-color: #F2F2F2;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
  color: #fff;
}
.icon-arrow-right:before {
  content: "\e901";
  color: #fff;
}
.icon-insta:before {
  content: "\e902";
  font-size: 22px;
}
.icon-tip:before {
  content: "\e903";
  color: #d8232a;
  font-size: 26px;
}
.icon-vk:before {
  content: "\e904";
  font-size: 17px;
}
.icon-mail:before {
  content: "\e905";
  color: #D8232A;
  font-size: 18px;
}
.icon-phone:before {
  content: "\e906";
  color: #D8232A;
  font-size: 24px;
}

.with-border{
	border-bottom: 2px solid #E2E2E2;
}
.with-border:hover{
	border-bottom: 2px solid transparent;
}

.b-text ul{
    list-style: none;
}
	.b-text ul li{
		position: relative;
		padding-left: 22px;
		line-height: 26px;
		margin-bottom: 12px;
	}
	.b-text ul li:last-child{
		margin-bottom: 0;
	}
	.b-text ul li:before {
		content: " ";
	    position: absolute;
	    top: 11px;
	    left: 0;
	    width: 10px;
		height: 2px;
		background-color: #D8232A;
	}

/* ===== Прижать футер ===== */

html{
    height: 100%;
}
body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
}
.b-header{
   -webkit-box-flex: 0;
       -ms-flex: 0 0 auto;
           flex: 0 0 auto;
}
.b-content{
   -webkit-box-flex: 1;
       -ms-flex: 1 0 auto;
           flex: 1 0 auto;
}
.b-footer{
   -webkit-box-flex: 0;
       -ms-flex: 0 0 auto;
           flex: 0 0 auto;
}

/* ===== */

.b-header{
	background-position: 50% 50%;
    background-image: url(../i/header-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
	.b-header-top{
		padding-top: 25px;
		margin-bottom: 244px;
	}
		.b-logo {
		    width: 200px;
		    height: 33px;
		    display: inline-block;
		    vertical-align: middle;
		    background-image: url(../i/logo.svg);
		    background-size: contain;
		    background-position: center;
		    background-repeat: no-repeat;
		    margin-top: 14px;
		    margin-right: 94px;
		}
		.b-header-menu{
			margin-top: 18px;
			display: inline-block;
			vertical-align: top;
			color: #FFF;
		}
			.b-header-menu li{
				position: relative;
				display: inline-block;
				margin-right: 64px;
			}
			.b-header-menu li:last-child{
				margin-right: 0;
			}
				.b-header-menu li a{
					display: inline-block;
				    color: #FFF;
				    font-size: 18px;
				    line-height: 24px;
				}
				@media screen and (min-width: 768px){
					.b-header-menu > li > a:after{
						content: "";
						display: block;
						width: 100%;
						border-bottom: 1px solid #FFF;
						opacity: 0;
						visibility: hidden;
						-webkit-transform: translateY(8px);
						   -moz-transform: translateY(8px);
						    -ms-transform: translateY(8px);
						   	 -o-transform: translateY(8px);
								transform: translateY(8px);
						-webkit-transition: opacity 150ms ease-out, visibility 150ms ease-out, transform 150ms ease-out;
					       -moz-transition: opacity 150ms ease-out, visibility 150ms ease-out, transform 150ms ease-out;
					        -ms-transition: opacity 150ms ease-out, visibility 150ms ease-out, transform 150ms ease-out;
					       	 -o-transition: opacity 150ms ease-out, visibility 150ms ease-out, transform 150ms ease-out;
					    		transition: opacity 150ms ease-out, visibility 150ms ease-out, transform 150ms ease-out;
					}
					.b-header-menu > li > a:hover:after{
						opacity: 1;
						visibility: visible;
					    -webkit-transform: translateY(0);
						   -moz-transform: translateY(0);
						    -ms-transform: translateY(0);
						   	 -o-transform: translateY(0);
								transform: translateY(0);
					}
				}
		.b-header-right{
			float: right;
			text-align: right;
		}
			.b-header-right .b-phone-link{
				display: inline-block;
				color: #FFF;
				font-size: 24px;
				line-height: 32px;
				margin-bottom: 4px;
				font-family: 'Geometria-Bold';
			}
			.b-header-right span{
				color: #FFF;
			}
	.b-header-content{
		color: #FFF;
		padding-bottom: 320px;
	}
		.b-header-content h1{
			font-size: 55px;
			line-height: 65px;
			font-family: 'Formular-Bold';
			margin-bottom: 43px;
			max-width: 628px;
		}
		.b-header-content p{
			font-size: 24px;
			line-height: 34px;
			max-width: 500px;
		}

.b-header.b-header-inner{
	background-image: none;
}
	.b-header.b-header-inner .b-header-top{
		margin-bottom: 80px;
	}
	.b-header-inner .b-header-menu li a,
	.b-header-inner .b-header-right .b-phone-link,
	.b-header-inner .b-header-right span{
		color: #000;
	}
	.b-header-inner .b-header-menu > li > a:after{
		border-bottom: 1px solid #000;
	}

.b-content h1{
	font-size: 45px;
	line-height: 55px;
	font-family: 'Formular-Bold';
	text-align: center;
	margin-bottom: 70px;
}

.b-1{
	padding-top: 88px;
}
	.b-1-top{
		margin: 0 auto 66px auto;
		line-height: 26px;
		max-width: 883px;
	}
	.b-1-years{
		position: relative;
	}
		.b-1-years:before {
		    position: absolute;
		    content: "s";
		    font-size: 0px;
		    width: 5px;
		    height: 73%;
		    left: 90px;
		    top: 70px;
		    background-color: #EBEBEB;
		}
		.b-1-years-item{
			position: relative;
			margin-bottom: 40px;
		}
		.b-1-years-item:last-child{
			margin-bottom: 0;
		}
			.b-1-years-item .year{
				position: absolute;
				top: calc(50% - 60px);
				width: 188px;
				text-align: center;
				padding: 32px 0;
				background-color: #FFF;
				font-size: 45px;
				line-height: 55px;
				font-family: 'Geometria-Bold';
			}
			.b-1-years-item .content{
				position: relative;
				margin-left: 188px;
				background-color: #F2F2F2;
   				padding: 26px 32px 24px;
				border-radius: 3px;
			}
			.b-1-years-item .content:before {
			    position: absolute;
			    content: "s";
			    font-size: 0px;
			    width: 0px;
			    height: 0px;
			    left: -26px;
			    top: calc(50% - 14px);
			    border: 14px solid transparent;
			    border-right: 14px solid #F2F2F2;
			}
	.b-1-bottom{
		font-size: 28px;
		line-height: 40px;
		max-width: 1050px;
		text-align: center;
		margin: 120px auto 68px auto;
	}

.b-2{
	padding-top: 90px;
	margin-bottom: 90px;
}
	.b-2 h2{

	}
	.b-4-tab-container{

	}
		.b-4-left{
			width: 325px;
			display: inline-block;
			vertical-align: top;
			float: left;
		}
		.sticky{
			position: -webkit-sticky;
			position: sticky;
			top: 32px;
		}
			.b-4-tab-item{
				padding: 12px 20px 21px;
				border: 7px solid #F2F2F2;
				background-color: #fff;
				display: block;
				width: calc(100% - 21px);
				position: relative;
				margin-top: -7px;
			}
			.b-4-tab-item:not(.active):hover{
				background-color: #F2F2F2;
			}
			.b-4-tab-item.active{
				background-color: #F2F2F2; 
				border-right: 0;
			}
			.b-4-tab-item:first-child{
				margin-top: 0;
			}
			.b-4-tab-item.active:after{
				content: '';
				position: absolute;
				right: -24px;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				transform: translateY(-50%);
				height: calc(100% + 14px);
				width: 32px;
				background-image: url('../i/triangle.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
			}
				.b-4-tab-item h4{
					font-size: 20px;
					line-height: 28px;
					margin-bottom: 12px;
				}
				.b-4-tab-item p{

				}
					.b-4-tab-item span{
						display: inline-block;
					}
		.b-4-right{
			width: calc(100% - 356px);
			margin-left: 27px;
			display: inline-block;
			vertical-align: top;
			float: right;
		}
			.b-4-right-item{
				background-color: #fff;
				padding-bottom: 23px;
				border: 7px solid #F2F2F2;
			}
			
				.b-4-right-img{
					height: 474px;
					width: 100%;
					display: block;
					position: relative;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;
				}
					.b-4-img-description{
						position: absolute;
						width: calc(100% - 86px);
						left: 43px;
						bottom: 32px;
						color: #fff;
						font-size: 32px;
						line-height: 40px;
						font-family: 'Geometria-Bold';
					}
					.b-4-img-description-mobile{
						display: none;
					}
				.b-4-right-text{
					width: calc(100% - 104px);
					margin: 92px auto 70px auto;
					font-size: 20px;
					line-height: 30px;
					position: relative;
				}
				.b-4-right-text:before,
				.b-4-right-text:after{
					content: '';
					display: block;
					position: absolute;
					width: 30px;
					height: 28px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
				}
				.b-4-right-text:before{
					background-image: url('../i/left-quote.svg');
					left: -32px;
					top: -39px;
				}
				.b-4-right-text:after{
					background-image: url('../i/right-quote.svg');
					right: -32px;
					bottom: -39px;
				}
				.b-4-right-bottom{
					width: calc(100% - 104px);
					margin: 0 auto;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					align-items: center;
				}
					.b-4-right-bottom-item{
						width: 100%;
						/*max-width: 49%;*/
					}
						.b-4-right-name{
							font-size: 20px;
							line-height: 32px;
							font-family: 'Geometria-Bold';
						}
						.b-4-right-position{
							font-size: 18px;
							line-height: 26px;
							opacity: 0.5;
						}
						.b-4-right-signature{
							width: 158px;
							max-width: calc(100%/2 - 25px);
							height: 108px;
							margin-right: 45px;
							display: inline-block;
							vertical-align: middle;
							background-size: contain;
							background-repeat: no-repeat;
							background-position: center;
							display: none;
						}
						.b-4-right-press{
							width: 150px;
							max-width: calc(100%/2 - 25px);
							height: 150px;
							display: inline-block;
							vertical-align: middle;
							background-size: contain;
							background-repeat: no-repeat;
							background-position: center;
							display: none;
						}
			.b-4-right-top{
				height: 512px;
			    width: 100%;
			    display: block;
			    position: relative;
			    background-size: cover;
			    background-repeat: no-repeat;
			    background-position: center;
			}
				.b-4-right-content{
					padding: 25px 29px;
				}
					.b-4-right-content a{
						text-decoration: underline;
					}
						.b-4-right-content a:hover{
							text-decoration: none;
						}
					.b-4-slide{
						position: relative;
						width: 100%;
						height: 100%;
						background-size: cover;
					    background-repeat: no-repeat;
					    background-position: center;
					}
						.b-play{
							display: block;
							border-radius: 100%;
							position: absolute;
							top: calc(50% - 65px);
						    left: calc(50% - 65px);
						    width: 130px;
						    height: 130px;
							cursor: pointer;
							-webkit-transition: background-color 100ms ease-out;
							-moz-transition: background-color 100ms ease-out;
							-ms-transition: background-color 100ms ease-out;
							-o-transition: background-color 100ms ease-out;
							transition: background-color 100ms ease-out;
						}
						.b-play:hover{
							background-color: rgba(255,255,255,0.2);
						}
							.video-circle{
								margin: 0 auto;
								width: 100%;
								height: 100%;
								padding: 5px;
								border-radius: 50%;
								border: 5px solid #FFF;
								-webkit-transition: -webkit-transform 100ms ease-out;
								-moz-transition: transform 100ms ease-out;
								-ms-transition: -ms-transform 100ms ease-out;
								-o-transition: -o-transform 100ms ease-out;
								transition: transform 100ms ease-out;
							}
							.video-play{
								display: block;
							    width: 56px;
							    height: 56px;
							    background-position: 50% 50%;
							    background-repeat: no-repeat;
							    background-image: url(../i/play-triangle.svg);
							    background-size: contain;
							    margin: 28px 0 0 33px;
							}
						.b-4-slide h3{
							position: absolute;
							width: calc(100% - 40px);
							left: 30px;
							bottom: 40px;
							font-size: 32px;
							line-height: 40px;
							color: #FFF;
						}
					.b-4-right-content h3{
						font-size: 24px;
						line-height: 32px;
						margin-bottom: 25px;
					}
					.b-4-right-content p{
						line-height: 26px;
					}

.b-team{
	padding: 70px 0 90px;
}
	.b-team-list{

	}
		.b-team-item{
			display: inline-block;
			vertical-align: top;
			width: calc(100%/3 - 17px);
			margin-right: 20px;
		}
		.b-team-item:last-child{
			margin-right: 0;
		}
			.b-team-item .b-img{
				width: 100%;
				height: 473px;
				background-size: cover;
			    background-repeat: no-repeat;
			    background-position: center;
				margin-bottom: 16px;
			}
			.b-team-item .b-post{
				font-family: 'Geometria-Bold';
				color: #9CA4B2;
				margin-bottom: 8px;
			}
			.b-team-item h3{
				font-size: 24px;
    			line-height: 34px;
				margin-bottom: 24px;
			}
			.b-team-line{
				width: 70px;
				height: 3px;
				background-color: #D8232A;
				margin-bottom: 18px;
			}
			.b-team-item p{

			}

.b-contacts{
	padding-top: 80px;
	margin-bottom: 90px;
}
	.b-contacts-left{
		width: 587px;
		float: left;
	}
		.b-contacts-left h2{
			text-align: left;
			margin-bottom: 50px;
		}
		.b-contacts-item{
			margin-bottom: 24px;
		}
			.b-contacts-left p{
				font-size: 24px;
				line-height: 34px;
				margin-bottom: 12px;
			}
			.b-contacts-left .with-icon{
				position: relative;
				padding-left: 42px;
			}
				.b-contacts-left .icon{
					position: absolute;
					top: 3px;
					left: 0;
				}
			.b-contacts-left b,
			.b-contacts-left a{
				font-size: 24px;
				line-height: 34px;
			}
			.b-contacts-email .icon{
				top: 8px;
			}
	.b-contacts-right{
		width: calc(100% - 648px);
		float: right;
	}
		#b-contacts-map{
			width: 100%;
			height: 448px;
			box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
			margin-top: 22px;
		}

.b-footer{

}
	.b-footer-top{
		padding: 45px 0 30px;
		border-bottom: 5px solid #EBEBEB;
	}
		.b-footer-top-left{
			float: left;
		}
			.b-footer-top-left .b-logo{
				margin-top: 0;
				margin-bottom: 24px;
			}
			.b-footer-top-address{
				position: relative;
				margin-bottom: 26px;
				padding-left: 36px;
			}
				.b-footer-top-address .icon-tip{
					position: absolute;
					top: 0;
					left: 0;
				}
				.b-footer-top-address .icon-tip:before{
					color: #000;
					font-size: 22px;
					margin-right: 10px;
				}
			.b-social li{
                width: 30px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 20px;
            }
            .b-social li:last-child{
                margin-right: 0;
            }
                .b-social a{
                    font-size: 0 !important;
                    width: 100%;
                    display: inline-block;
                    text-decoration: none !important;
                }
                .b-social a:before{
                    -webkit-transition: color 100ms ease-out;
                    -moz-transition: color 100ms ease-out;
                    -ms-transition: color 100ms ease-out;
                    -o-transition: color 100ms ease-out;
                    transition: color 100ms ease-out;
                }
		.b-footer-top-right{
			float: right;
			text-align: right;
		}
			.b-footer-top-right .b-header-right{
				float: none;
				margin-bottom: 14px;
			}
				.b-footer-top-right .b-header-right .b-phone-link{
					color: #000;
				}
				.b-footer-top-right .b-header-right span{
					color: #000;
				}
			.b-footer-top-right .email{
				text-decoration: underline;
			}
			.b-footer-top-right .email:hover{
				text-decoration: none;
			}
			.b-footer-top-right .docs{
				display: inline-block;
				margin-top: 12px;
				line-height: 20px;
			}
	.b-footer-bottom{
		padding: 36px 0;
	}
		.b-footer-bottom-left{
            display: inline-block;
            vertical-align: top;
        }
            .b-copyright{
                display: inline-block;
                margin-right: 70px;
            }
            .b-footer-bottom-left a{
                display: inline-block;
                line-height: 20px;
            }
        .b-redder{
            float: right;
        }
            .b-redder span{
                display: inline-block;
                vertical-align: middle;
                margin-right: 16px;
            }
            .b-redder a{
                display: inline-block;
                vertical-align: middle;
                width: 100px;
                height: 22px;
                background-image: url(../i/redder.svg);
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;
            }
			
/* ===== Slick ===== */

.b-4-right .slick-slider .slick-track,
.b-4-right .slick-slider .slick-list{
	height: 100%;
}

.b-4-right .slick-arrow.icon-arrow-left,
.b-4-right .slick-arrow.icon-arrow-right{
	position: absolute;
	top: 220px;
	height: 44px;
	width: 24px;
	padding: 10px;
	box-sizing: content-box;
	z-index: 2;
	cursor: pointer;
	opacity: 0.6;
	-webkit-transition: opacity 150ms ease-out;
       -moz-transition: opacity 150ms ease-out;
        -ms-transition: opacity 150ms ease-out;
       	 -o-transition: opacity 150ms ease-out;
    		transition: opacity 150ms ease-out;
}
.b-4-right .slick-arrow.icon-arrow-left:hover,
.b-4-right .slick-arrow.icon-arrow-right:hover{
	opacity: 1;
}
.b-4-right .slick-arrow.icon-arrow-left:before,
.b-4-right .slick-arrow.icon-arrow-right:before{
	font-size: 44px;
}
.b-4-right .slick-arrow.icon-arrow-left{
	left: 6px;
}
.b-4-right .slick-arrow.icon-arrow-right{
	right: 6px;
}

/* ===== Документы ===== */

.b-documents{

}
	.b-document-list{
		margin-bottom: 34px;
	}
		.b-document-item{
			display: inline-block;
			vertical-align: top;
			width: calc(100%/3 - 20px);
			margin-right: 20px;
			margin-bottom: 46px;
		}
		.b-document-item:nth-child(3n){
			margin-right: 0;
		}
			.b-document-item .b-img{
				display: inline-block;
				vertical-align: middle;
				width: 84px;
				height: 102px;
				margin-right: 20px;
	            background-position: 50% 50%;
	            background-repeat: no-repeat;
	            background-size: contain;
			}
			.b-document-item .b-img.doc{
				background-image: url(../i/doc.svg);
			}
			.b-document-item .b-img.pdf{
				background-image: url(../i/pdf.svg);
			}
			.b-document-item a{
				display: inline-block;
				vertical-align: middle;
				width: calc(100% - 110px);
			}
			.b-document-item a:hover{
				text-decoration: underline;
			}

.b-documents-text{
	max-width: 730px;
	margin: 0 auto 100px auto;
}

/* ===== tablet ===== */

@media screen and (max-width: 1320px){

	body{
		min-width: 750px;
	}
	.b-block{
		width: calc(100% - 48px);
	}

	.b-logo {
	    margin-right: 36px;
	}
		.b-header-menu li {
		    margin-right: 26px;
		}

	.b-contacts-left{
		width: calc(100% - 600px);
	}
		
	.b-contacts-right{
		width: 550px;
	}
		#b-contacts-map{
			height: 400px;
		}
	.b-contacts-left p,
	.b-contacts-left b,
	.b-contacts-left a{
	    font-size: 20px;
	    line-height: 28px;
	}
	.b-contacts-left .icon {
	    top: 1px;
	}
	.b-contacts-email .icon {
	    top: 5px;
	}

	.b-copyright {
	    display: block;
	    margin-bottom: 12px;
	}

	.b-header-right {
	    margin-top: 3px;
	}
	.b-header-right .b-phone-link{
		font-size: 20px;
    	line-height: 28px;
	}
	.b-header-right span {
	    font-size: 14px;
	    line-height: 20px;
	}

}

@media screen and (max-width: 1024px){
	.b-header-menu{
		display: none;
	}

	.b-header-top {
	    margin-bottom: 175px;
	}
	.b-header-content {
	    padding-bottom: 220px;
	}

	h2, .b-content h1 {
	    margin-bottom: 50px;
	}
	.b-1 {

	}
	.b-2 {
	    padding-top: 70px;
	    margin-bottom: 70px;
	}
	.b-team {
	    padding: 70px 0 70px;
	}
	.b-contacts {
	    padding-top: 70px;
	    margin-bottom: 70px;
	}

	.b-4-left{
		position: relative;
		display: flex;
		flex-wrap: wrap;
		top: 0;
		width: 100%;
	}
		.b-4-tab-item{
			display: inline-block;
			margin-top: 0;
			margin-left: -11px;
			padding: 15px 20px;
			width: calc(100%/3 + 7px);
			margin-bottom: -7px;
		}
		.b-4-tab-item:nth-child(3n + 1){
			margin-left: 0;
		}
		.b-4-tab-item.active{
			border-right: 7px solid #F2F2F2;
		}
		.b-4-tab-item.active:after{
			display: none;
		    /*bottom: 0;
		    right: calc(-50% - 14px);
		    -webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		    -o-transform: translateX(-50%);
		    transform: translateX(-50%);
		    width: calc(100% + 14px);
		    height: 21px;*/
		}
	.b-4-right{
		width: 100%;
		margin-left: 0;
	}

	.b-4-tab-item h4 {
	    font-size: 18px;
	    line-height: 24px;
	}

	.b-team-item h3 {
	    font-size: 20px;
	    line-height: 28px;
	}
	.b-team-item .b-img {
	    height: 373px;
	}

	.b-contacts-left,
	.b-contacts-right{
		float: none;
		width: 100%;
	}
	#b-contacts-map {
	    margin-top: 50px;
	}

	.b-footer-bottom-left{
		display: block;
	}
	.b-redder {
	    margin-top: 14px;
	    float: none;
	}

}

@media screen and (max-width: 900px){

	.b-document-list{
		margin-bottom: 16px;
	}
		.b-document-item{
			width: calc(100%/2 - 20px);
		}
		.b-document-item:nth-child(3n){
			margin-right: 20px;
		}
		.b-document-item:nth-child(2n){
			margin-right: 0;
		}

}

/* ===== mobile ===== */

@media screen and (max-width: 768px){

	body{
		min-width: 320px;
	}
	.b-block{
		width: calc(100% - 40px);
	}

	h2, .b-content h1{
		font-size: 26px;
		line-height: 36px;
		margin-bottom: 40px;
	}

	.b-header {
	    min-height: 100vh;
	}
	.b-header.b-header-inner{
		min-height: 0;
	}
	.b-header.b-header-inner .b-header-top {
	    margin-bottom: 40px;
	}
	.b-header-content{
		color: #FFF;
		padding-bottom: 320px;
	}
		.b-header-content h1{
			font-size: 30px;
			line-height: 38px;
			margin-bottom: 30px;
		}
		.b-header-content p{
			font-size: 20px;
			line-height: 28px;
			max-width: 540px;
		}
		.b-header-right .b-phone-link {
		    font-size: 20px;
		    line-height: 28px;
		    margin-bottom: 0;
		}
		.b-header-right span {
		    font-size: 14px;
		}

	.b-header-menu{
		display: none;
	}

	.b-logo {
	    margin-right: 30px;
	    margin-top: 8px;
	}
	.b-header-top {
	    margin-bottom: 175px;
	}
	.b-header-content {
	    padding-bottom: 220px;
	}

	.b-1 {
		padding-top: 60px;
	}
	.b-2 {
	    padding-top: 50px;
	    margin-bottom: 50px;
	}
	.b-team {
	    padding: 50px 0 30px;
	}
	.b-contacts {
	    padding-top: 50px;
	    margin-bottom: 50px;
	}

	.b-1-bottom {
	    font-size: 20px;
	    line-height: 28px;
	    text-align: left;
	    margin: 60px auto 0px auto;
	}

	.b-4-right-item{

	}
		.b-4-tab-item{
			width: 100%;
			margin: 0;
			margin-bottom: -7px;
		}
		.b-4-tab-item:nth-child(even){
			margin-left: 0;
		}
			.b-4-tab-item p span{
				display: none;
			}
		.b-4-right-img{
			height: 200px;
		}
		.b-4-img-description{
			font-size: 16px;
			line-height: 24px;
		    width: calc(100% - 40px);
		    left: 20px;
		    bottom: 15px;
		}
		.b-4-right-text{
			width: 100%;
		}
		.b-4-right-bottom{
			width: 100%;
			margin-bottom: 30px;
		}
		.b-4-right-text:before{
			left: 0;
		}
		.b-4-right-text:after{
			right: 0;
		}

	.b-play{
		top: calc(50% - 40px);
	    left: calc(50% - 40px);
	    width: 80px;
	    height: 80px;
	}
		.video-circle{
			padding: 3px;
			border: 3px solid #FFF;
		}
		.video-play{
		    width: 36px;
		    height: 36px;
			margin: 16px 0 0 20px;
		}
	.b-4-right-top {
	    height: 392px;
	}
	.b-4-right .slick-arrow.icon-arrow-left,
	.b-4-right .slick-arrow.icon-arrow-right{
		top: calc(50% - 24px);
	    height: 28px;
	    width: 17px;
		opacity: 1;
	}
	.b-4-right .slick-arrow.icon-arrow-left:before,
	.b-4-right .slick-arrow.icon-arrow-right:before{
		font-size: 28px;
	}
	.b-4-right-top {
	    height: 50vw;
	    min-height: 230px;
	}

	.b-4-slide h3 {
	    position: absolute;
	    left: 16px;
	    bottom: 24px;
	    font-size: 22px;
	    line-height: 30px;
	    color: #FFF;
	}
	.b-4-right-content {
	    padding: 20px;
	}
	.b-4-right-content h3 {
	    font-size: 20px;
	    line-height: 28px;
	    margin-bottom: 16px;
	}
	.b-4-right-item{
		padding-bottom: 0;
	}

	.b-team-item{
		width: calc(100%/2 - 13px);
		margin-bottom: 32px;
	}
	.b-team-item:nth-child(2n){
		margin-right: 0;
	}
	.b-team-item .b-img {
	    height: calc((100vw - 72px) / 2 * 1.15);
	}
	.b-team-item h3 {
	    margin-bottom: 18px;
	}
	.b-contacts-left h2 {
	    margin-bottom: 30px;
	}

	.fancybox-slide{
		padding: 20px;
	}

	.b-documents-text{
		margin: 0 auto 60px auto;
	}

	.b-1-years-item .year {
		top: calc(50% - 44px);
	    width: 62px;
	    text-align: left;
	    padding: 16px 0;
	    font-size: 20px;
	}
	.b-1-years-item .content {
	    margin-left: 72px;
	    padding: 16px 12px;
	}
	.b-1-years:before {
		top: 100px;
	    left: 26px;
	    height: 70%;
	}

	.b-1-top {
	    margin: 0 auto 50px auto;
	}

}

@media screen and (max-width: 665px){
	.b-header-top {
	    margin-bottom: 140px;
	}
	.b-header-content {
	    padding-bottom: 110px;
	}
	.b-footer-top-left,
	.b-footer-top-right{
		float: none;
		text-align: left;
	}
	.b-footer-top-left{
		margin-bottom: 22px;
	}
	.b-footer-top-right .b-header-right{
		text-align: left;
	}
	.b-4-slide h3 {
	    bottom: 20px;
	    font-size: 18px;
	    line-height: 24px;
	}
	.b-document-list{

	}
		.b-document-item{
			width: 100%;
			margin-right: 0;
			margin-bottom: 32px;
		}
		.b-document-item:nth-child(3n){
			margin-right: 0;
		}
}

@media screen and (max-width: 520px){
	.b-logo {
	    width: 145px;
	    height: 23px;
	    margin-right: 12px;
		margin-top: 10px;
	}
	.b-header .b-header-right span {
	    font-size: 12px;
	}
	.b-header-right .b-phone-link {
	    font-size: 16px;
	    line-height: 20px;
	    margin-top: 0;
	}
	.b-team-item{
		width: 100%;
		margin-bottom: 32px;
		margin-right: 0;
	}
	.b-team-item .b-img {
	    height: calc((100vw - 40px) * 1.15);
	}
	.b-document-item .b-img {
	    width: 70px;
	    height: 85px;
	    margin-right: 16px;
	}
	.b-document-item a {
	    width: calc(100% - 92px);
	}
	.b-text ul li {
	    padding-left: 18px;
	    font-size: 14px;
	    line-height: 22px;
	}
	.b-text ul li:before {
	    top: 9px;
	}
}
@media screen and (max-width: 374px){
	.b-header-right {
		margin-top: 18px;
	    float: none;
	    text-align: left;
	}
	.b-header-right .b-phone-link {
	    margin-top: 0;
	}
	.b-header-content h1 {
	    font-size: 28px;
	    line-height: 36px;
	}
	.b-header-content p {
	    font-size: 18px;
	    line-height: 26px;
	    max-width: 540px;
	}
}


@media (-webkit-min-device-pixel-ratio: 1.5) {
	
}